*.*~
*.o
_*
*.bin
run
runq
run_ispc
runq_ispc
*.log
*.out
*.aux
*.dvi
cli_split_weights
cli_qntz_weights
bench_add_v_gcc
bench_argmax_gcc
bench_div_s_gcc
bench_dot_prod_gcc
bench_mul_v_add_s_gcc
bench_rmsnorm_gcc
bench_softmax_gcc
bench_swiglu_gcc
bench_add_v_ispc
bench_argmax_ispc
bench_div_s_ispc
bench_dot_prod_ispc
bench_mul_v_add_s_ispc
bench_rmsnorm_ispc
bench_softmax_ispc
bench_swiglu_ispc
